body { background-color: yellow; font-family: Arial; }
h1 { color: blue; }
section { background-color: red; margin: 100px 8px; border: 50px solid black; padding: 15px; }
header { background-color: orange; align-items: evenly-space; justify-content: space-between; display: flex; }
h1 {
    font-size: 50px; padding: 40px; 
}
nav a { font-size: 30px; }
